<link rel="stylesheet" href="<%= assetPath('/css/home.css') %>" >
<h1>
    <%= title %>
</h1>


<!-- <a href="https://web.whatsapp.com/send?text=Yes" class="bla">Whatsapp link</a> -->

<div id = "home-container">
    
    <section id="feed-posts">
        <h4>Posts</h4>
        <% if(locals.user && pageNo==1) {%>
        <form action="/posts/create" id="new-post-form" method="POST" onsubmit="return validatePostForm()">
            <textarea id="postInput" name="content" cols="30" rows="3" placeholder="Type Here..." required></textarea>
            <input type="submit" value="Post">
        </form>

        <script>
            function validatePostForm(){
                const postInput = document.getElementById('postInput');
                if (postInput.value.length > 250) {
                    alert('Post length should be less than or equal to 250 characters.');
                    postInput.value = ''; // Clear the input if length is greater than 10
                    return false; // Prevent form submission
                }
                return true; // Allow form submission
            }

        </script>
        <% } %>
    
        <div id="posts-list-container">
            <ul>
                <% for(post of posts) {%>
                    <%- include("_post") -%>
                <% } %>
            </ul>
        </div>

        <div id="pages">  
            
            <% for (let i = pageNo-2; i <= pageNo+2 ; i++) {%>
                <% if (i != -1 && i != 0){%>
                    <a href="/?pageNo=<%= i %>" style="
                        <%= i === pageNo && posts_length>5? 'font-weight: bold; background-color: #2196f3; color: #fff;' : '' %>
                        border-radius: 50%;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        margin: 0 5px;
                      ":hover> 
                        <% if (i<pageNo) {%>
                            <%= i %> 
                        <% } else if (i==pageNo && posts_length>5){%>
                            <%= i %> 
                        <%} else if (i==pageNo+1 && posts_length>5){%>
                            <%= i %> 
                        <%} else if (i==pageNo+2 && posts_length>10){%>
                            <%= i %> 
                        <%}%>
                    </a> &nbsp;&nbsp;&nbsp;&nbsp;
                <% } %>
            <% } %>
        </div>
    
    </section>
    


    <%- include('_chat_box') -%>
   
</div>
<!-- importing this script for creating the comments -->
<script src="<%= assetPath('/js/home_post_comments.js') %>" ></script>
<script src="<%= assetPath('/js/home_posts.js') %>"></script>


<!-- CHANGE :: import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
<script src="<%= assetPath('/js/toggle_likes.js') %>"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>


<!-- chat engine setup -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.1/socket.io.js"></script>
<script src="<%= assetPath('/js/chat_engine.js') %>" ></script>
<% if (locals.user){ %>
    <script>
        new ChatEngine('user-chat-box', '<%= locals.user.email %>', null)
    </script>
<% } %>







