<div>

    <h1>I want to connect</h1>
    <p>Hi <%=to_user.name%> ! , <%=from_user.name%> wants to connect with you.</p>  
    <br>
    <a href="http://localhost:8000/friends/add-friend-response/?from_user=<%=from_user%>&to_user=<%=to_user%>&value=<%=true%>&token=<%=token%>">Accept</a>
    <br>
    <br>
    <a href="http://localhost:8000/friends/add-friend-response/?from_user=<%=from_user%>&to_user=<%=to_user%>&value=<%=false%>&token=<%=token%>">Reject</a>
    <br>
    <br>
    <p>...Thanks!</p> 

</div>