<div>

    <h1>I want to connect</h1>
    <p>Hi <%=to_user.name%> ! , <%=from_user.name%> wants to connect with you.</p>  
    <br>
    <a href="http://13.127.17.176:8000/friends/add-friend-response/?from_user=<%=from_user%>&to_user=<%=to_user%>&value=<%=true%>&token=<%=encodeURIComponent(JSON.stringify(token))%>">Accept</a>
    <br>
    <br>
    <a href="http://13.127.17.176:8000/friends/add-friend-response/?from_user=<%=from_user%>&to_user=<%=to_user%>&value=<%=false%>&token=<%=encodeURIComponent(JSON.stringify(token))%>">Reject</a>
    <br>
    <br>
    <p>...Thanks!</p> 

</div>